.DS_Store
OrMiMu.xcodeproj/project.xcworkspace/xcuserdata/manuelgalindo.xcuserdatad/UserInterfaceState.xcuserstate
OrMiMu.xcodeproj/project.xcworkspace/xcuserdata/manuelgalindo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
